@import "tailwindcss";



@font-face {
  font-family: "Capriola";
  src: url("./assets/fonts/Capriola-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "CascadiaCode-Regular";
  src: url("./assets/fonts/CascadiaCode-VariableFont_wght.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "CascadiaCode-Italic";
  src: url("./assets/fonts/CascadiaCode-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "BebasNeue-Regular";
  src: url("./assets/fonts/BebasNeue-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Hiruko-Black";
  src: url("./assets/fonts/hirukoblackalternate.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@theme {
  --font-capriola: "Capriola", sans-serif;
  --font-cascadia: "CascadiaCode-Regular", monospace;
  --font-cascadia-italic: "CascadiaCode-Italic", monospace;
  --font-bebas: "BebasNeue-Regular", sans-serif;
  --font-hiruko: "Hiruko-Black", sans-serif;
}

:root {
  /* COLOR PALETTE! */
  --blackberry: #120e23;
  --grape: #472859;
  --blueberry: #225875;
  --verdant: #249E4F;
  --leaf: #70AF17;
  --ripe: #B6CC3D;
  --pale: #FFF7CE;
  --offwhite: #fffcf6;
  --orange: #FC931A;
  --strawberry1: #EA5C5C;
  --strawberry2: #FF6F68;
  --strawberry3: #FF8688;
  --strawberry4: #FF9A8F;
}


#root {
  width: 1126px;
  height: 100vh;
  max-width: 100%;
  margin: 0 auto;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  cursor: none;
}

body {
  margin: 0;
  cursor: none;
  background-color: var(--offwhite);
}

::selection {
  background-color: var(--ripe);
  color: #161520;
}


@keyframes popInChar {
  0% {
    opacity: 0;
    transform: scale(0) translateY(20px);
  }

  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

@keyframes fadeInText {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Optional utility class for the header/footer */
.animate-fade-in {
  opacity: 0;
  animation: fadeInText 0.6s ease-out forwards;
}

.diagonal-bg {
  background-color: white;
  /* Base color (gray-100) */
  /* Uses two linear gradients to draw intersecting horizontal and vertical lines */
  background-image:
    linear-gradient(#e5e7eb 2px, transparent 2px),
    linear-gradient(90deg, #e5e7eb 2px, transparent 2px);
  background-size: 40px 40px;
  /* Size of each grid square */

  animation: diagonalScroll 8s linear infinite;
}

@keyframes diagonalScroll {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 200px 200px;
  }
}

.no-cursor {
  cursor: none;
}